.table.data-table th.sorting_asc,
.table.data-table th.sorting_desc,
.table.data-table th.sorting {
    cursor: pointer;
}
.table.data-table th.sorting_asc:focus,
.table.data-table th.sorting_desc:focus,
.table.data-table th.sorting:focus {
    outline: none;
}
.table.data-table th.sorting_desc .sort-icon {
    float: right;
}
.table.data-table th.sorting_desc .sort-icon::before {
    content: "\f0dd";
    font-family: FontAwesome;
}
.table.data-table th.sorting_asc .sort-icon {
    float: right;
}
.table.data-table th.sorting_asc .sort-icon::before {
    font-family: FontAwesome;
    content: "\f0de";
}
.table.data-table th.sorting .sort-icon {
    float: right;
}
.table.data-table th.sorting .sort-icon::before {
    content: "\f0dc";
    font-family: FontAwesome;
}
i.element-glow:focus {
    box-shadow: 1px 1px 12px #720000;
}
th {white-space: nowrap;}