<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
        version="2.1">

    <tlib-version>1.0</tlib-version>
    <short-name>anchor-buttons</short-name>

    <tag-file>
        <name>back-to-main-page-button</name>
        <path>/WEB-INF/tags/anchors-buttons/back-to-main-page-button.tag</path>
    </tag-file>

    <tag-file>
        <name>table-sort-icon-generator</name>
        <path>/WEB-INF/tags/anchors-buttons/table-sort-icon-generator.tag</path>
    </tag-file>

    <tag-file>
        <name>static-url</name>
        <path>/WEB-INF/tags/anchors-buttons/static-url.tag</path>
    </tag-file>
</taglib>
